<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MobileTraininfo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Marvin Rogg,Gina Samo,My Anh doan, Nico hembach"  />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        var accessToken = "e605f41a45d34a969546694711fd7fe0",
            baseUrl = "https://api.dialogflow.com/v1/",
            $speechInput,
            $recBtn,
            recognition,
            messageRecording = "Aufnahme...",
            messageCouldntHear = "Ich habe sie nicht richtig verstanden, können Sie es wiederholen?",
            messageInternalError = "Entschuldigung hier liegt ein interner Fehler vor",
            messageSorry = "Es tut mir Leid dazu habe ich keine Antwort";
        $(document).ready(function() {
            $speechInput = $("#speech");
            $recBtn = $("#rec");
            $speechInput.keypress(function(event) {
                if (event.which == 13) {
                    event.preventDefault();
                    send();
                }
            });
            $recBtn.on("click", function(event) {
                switchRecognition();
            });
            $(".debug__btn").on("click", function() {
                $(this).next().toggleClass("is-active");
                return false;
            });
        });
        function startRecognition() {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.onstart = function(event) {
                respond(messageRecording);
                updateRec();
            };
            recognition.onresult = function(event) {
                recognition.onend = null;

                var text = "";
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    text += event.results[i][0].transcript;
                }
                setInput(text);
                stopRecognition();
            };
            recognition.onend = function() {
                respond(messageCouldntHear);
                stopRecognition();
            };
            recognition.lang = "de";
            recognition.start();
        }

        function stopRecognition() {
            if (recognition) {
                recognition.stop();
                recognition = null;
            }
            updateRec();
        }
        function switchRecognition() {
            if (recognition) {
                stopRecognition();
            } else {
                startRecognition();
            }
        }
        function setInput(text) {
            $speechInput.val(text);
            send();
        }
        function updateRec() {
            $recBtn.text(recognition ? "Stop" : "Speak");
        }
        function send() {
            var text = $speechInput.val();
            $.ajax({
                type: "POST",
                url: baseUrl + "query",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    "Authorization": "James " + accessToken
                },
                data: JSON.stringify({query: text, lang: "de", sessionId: "james"}),
                success: function(data) {
                    prepareResponse(data);
                },
                error: function() {
                    respond(messageInternalError);
                }
            });
        }
        function prepareResponse(val) {
            var debugJSON = JSON.stringify(val, undefined, 2),
                spokenResponse = val.result.speech;
            respond(spokenResponse);
            debugRespond(debugJSON);
        }
        function debugRespond(val) {
            $("#response").text(val);
        }
        function respond(val) {
            if (val == "") {
                val = messageSorry;
            }
            if (val !== messageRecording) {
                var msg = new SpeechSynthesisUtterance();
                msg.voiceURI = "native";
                msg.text = val;
                msg.lang = "de";
                window.speechSynthesis.speak(msg);
            }
            $("#spokenResponse").addClass("is-active").find(".spoken-response__text").html(val);
        }
    </script>

    <style type="text/css">
        html {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            background-color: gainsboro;
            font-family: "Helvetica", Arial, sans-serif;
            font-size: 20px;
            margin: 0;
        }
        .container {
            position:fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
        }
        input {
            background-color: sandybrown;
            border: 1px solid #2b2b2b;
            color:burlywood;
            font-family: "Helvetica";
            font-size: 20px;
            line-height: 43px;
            padding: 0 0.75em;
            width: 400px;
            -webkit-transition: all 0.35s ease-in;
        }
        textarea {
            background-color:gainsboro;
            border: 1px solid #122435;
            color: #606B88;
            padding: 0.5em;
            width: 100%;
            -webkit-transition: all 0.35s ease-in;
        }
        input:active, input:focus, textarea:active, textarea:focus {
            outline: 1px solid #48788B;
        }
        .btn {
            background-color:gainsboro;
            border: 1px solid #313335;
            color:saddlebrown;
            cursor: pointer;
            display: inline-block;
            font-family: "Helvetica";
            font-size: 20px;
            line-height: 43px;
            padding: 0 0.75em;
            text-align: center;
            text-transform: uppercase;
            -webkit-transition: all 0.35s ease-in;
        }
        .btn:hover {
            background-color: #3c3f41;
            color: #000000;
        }

    </style>

</head>
<body>
<div class="container">


    <form  method="GET" target="">
    <input id="speech" type="text" name="spee">
    <button id="rec" class="btn" name="resu">Speak</button>
    <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response__text"></div>
    </div>

        <div>
            <h3><%=stadt%></h3>
            <h3><%=eva%></h3>

            <ul>
                <% for(var i=0; i<ziel.length; i++) {%>
                <li> <%=ziel[i]%></li>
                <% } %>
            </ul>
        </div>
</form>

</div>

</body>
</html>