<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MobileTraininfo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Marvin Rogg,Gina Samo,My Anh Doan, Nico hembach"  />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

</head>
<body>
<div class="container">
    <style >


        body {
            background-color: #b3b9bc;
            font-family: "Helvetica", Arial, sans-serif;
            font-size: 12px;
            margin: 2px;

        }


        table tr, td{ border: 1px solid black;
        }
        tr, td{
            padding:15px;

        }
        @media screen
            {
            #main {
                min-width: 176px;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                width:100%;
                height:100%;
            }



        }

    </style>



    <div id="main">

        <h3><%=stadt%></h3>
        <h3><%=eva1%></h3>

        <a href="http://localhost:3001/"> Neue Suchanfrage</a>
        <br>
        <br>

        <table>
            <% for(var i=0; i<ziel.length; i++) {%>
            <tr><td>
                    <%=ziel[i]%></td></tr>
            <% } %>
        </table>
    </div>


</div>

</body>
</html>