<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MobileTraininfo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Marvin Rogg,Gina Samo,My Anh doan, Nico hembach"  />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<div class="container">




        <div>
            <h3><%=stadt%></h3>
            <h3><%=eva1%></h3>

            <ul>
                <% for(var i=0; i<ziel.length; i++) {%>
                <li> <%=ziel[i]%></li>
                <% } %>
            </ul>
        </div>


</div>

</body>
</html>